.input-group {
  .input-label {
    font-size: 13px;
    font-weight: 600;
    display: block;
    margin-bottom: 0.5rem;
  }
  .input-field {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    display: block;
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #d7d7d7;
    margin-bottom: .5rem;
  }
  .input-error-list {
    margin-bottom: 1.5rem;

    .input-error-item {
      color: #dc3545;
      font-size: 12px;
      display: block;
      list-style-type: circle;
      margin-bottom: .5rem;
    }
  }
 
}