$media-sm-max: "(max-width : 720px)";
$media-md-max: "(max-width : 960px)";
$media-lg-max: "(max-width : 1140px)";

$media-sm-min: "(min-width : 720px)";
$media-md-min: "(min-width : 960px)";
$media-lg-min: "(min-width : 1140px)";